@using ZicGooFriendsWeb.Components.ViewComponents
@inherits LayoutComponentBase

<PageTitle>ZicGooFriendsWeb</PageTitle>

<MainHeader/>
<div class="page">
    <!--<div class="sidebar">
        <NavMenu />
    </div>-->

    <main>
        <EventCarousel/>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
