<link href="{ASSEMBLY NAME}.styles.css" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container d-flex flex-column flex-md-row justify-content-center">
        <a class="navbar-brand" href="#">ZicGooFriends</a>
        <!--<a class="nav-link active" href="#">Home</a>-->
        <a class="nav-link" href="/purchase/agreement">구매대행</a>
        <a class="nav-link" href="/delivery/agreement">배송대행</a>
      <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>-->
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end mt-0 mb-0">
    <a href="login" >Sign In</a>
    <a href="signup" style="margin-left:20px;margin-right:10px;">Sign Up</a>
</nav>